{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": [
    "prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "strict": 0,
    "indent": [2, 2],
    "semi": [2, "always"],
    "no-extra-semi": 2,
    "no-irregular-whitespace": 2,
    "no-mixed-spaces-and-tabs": 2,
    "semi-spacing": [2, {"before": false, "after": true}],
    "eqeqeq": 2,
    "comma-dangle": [2, "never"],
    "comma-spacing": [2, {"before": false, "after": true}],
    "space-in-parens": [2, "never"],
    "space-before-function-paren": [2, {"anonymous": "never", "named": "never", "asyncArrow": "always"}],
    "space-before-blocks": 2,
    "keyword-spacing": 2,
    "no-unneeded-ternary": 2,
    "curly": [2, "multi-line"],
    "space-infix-ops": 2,
    "no-else-return": [2, { "allowElseIf": true }],
    "multiline-ternary": [2, "always-multiline"],
    "key-spacing": [2, { "mode": "strict" }],
    "arrow-parens": [2, "always"],
    "react/jsx-wrap-multilines": 2,
    "prefer-const": 2,
    "no-debugger": 2
  }
}
