html, body {
  height: 100%;
  font-family: 'Encode Sans', 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Encode Sans', sans-serif;
  font-weight: bold;
}

p {
  font-weight: 500;
  font-size: 16px;
}

a {
  color: #0a205b;
}

a:hover {
  text-decoration: none;
  color: #c61633;
}

a:focus {
  text-decoration: none;
}

.logo {
  position: relative;
  top:70px;
  height: 100%;
  width: 100%;
  max-height: 350px;
  max-width: 350px;
}

#headerTitle {
  margin-top: 20px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -60%);
  -webkit-transform: translate(-50%, -60%);
  z-index: 100;
  width: 100%;
  font-size: 120%;
}

#headerTitle .btnRow {
  margin-top: 30px;
  margin-bottom: 5px;
}

#headerTitle .btnMain {
  margin-bottom: 10px;
  font-size:1em;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
  text-decoration: none;
}

h2.headerTitle {
  font-size: 22px;
}

h2.subTitle {
  font-weight: 400;
  font-size: 2.1em;
  letter-spacing: 0.5px;
  color: #001e51;
  margin-bottom: 15px;
  margin-top: 30px;
}

.talkToUs {
  color: #001e51;
  margin-top: 15px;
}

.talkToUs a:hover {
  color:#c61633;
}

.frontContactLink {
  font-weight: bold;
  font-size: 1.3em;
  text-decoration: none;
}

.btn, a.btn {
  font-family: 'Encode Sans', sans-serif;
  padding: 8px 16px;
}

.btnMain {
  font-family: 'Encode Sans', 'Lato', sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-radius: 3px;
  width: 205px;
  height: 45px;
  color: #FFF;
}

.orangeBtn {
  background-color: #F4A531;
}

.yellowBtn {
  background-color: #EFBF37;
}

.btnMain.orangeBtn:hover {
  background-color: #c61633;
  color: #fff;
}

.btnMain.orangeBtn:active {
  background-color: #c61633;
  color: #fff;
}

a.btnMain {
  padding-top: 8px;
}

.yellowBtn {
  background-color: #EFBF37;
}

.btnMain.yellowBtn:hover {
  background-color: #c61633;
  color: #fff;
}

.btnMain.yellowBtn:active {
  background-color: #c61633;
  color: #fff;
}
