html, body {
  height: 100%;
  font-family: 'Encode Sans', 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Encode Sans', sans-serif;
  font-weight: bold;
}

p {
  font-weight: 500;
  font-size: 16px;
}

a {
  color: #0a205b;
}

a:hover {
  text-decoration: none;
  color: #c61633;
}

a:focus {
  text-decoration: none;
}
